@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

/* remove the arrows on the input box */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* remove the arrows on the input box */
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
